@model CustomerDetailViewModel


<div id="adddialog" class="w-75 p-3 rounded border">
    <input type="hidden" id="isedit" />
    <form id="form" class="p-3  shadow rounded">
        <h2 class="text-center text-info mb-3">Customer Details</h2>
        <div class="d-flex flex-wrap gap-2">
            <div class="row gap-2">
                <input type="hidden" name="Id" asp-for="Id" />
                <div class="col-xl-3 ps-5 font-weight-bold">A/C</div>                     <div class="col-xl-6"><input type="text" name="Ac" asp-for="Ac" oninput="this.value = this.value.toUpperCase()" required class="" /><span name="Ac" class="text-danger h6 mb-0"></span></div>
                <div class="col-xl-3 ps-5 font-weight-bold">Name</div>                     <div class="col-xl-6"><input type="text" name="Name" asp-for="Name" required class="" /><span name="Name" class="text-danger h6 mb-0"></span></div>
                <div class="col-xl-3 ps-5 font-weight-bold">Postcode</div>                     <div class="col-xl-6"><input type="text" asp-for="Postcode" required class="" /><span name="Postcode" class="text-danger h6 mb-0"></span></div>
                <div class="col-xl-3 ps-5 font-weight-bold">Country</div>                     <div class="col-xl-6"><input type="text" asp-for="Country" required class="" /><span name="Country" class="text-danger h6 mb-0"></span></div>
                <div class="col-xl-3 ps-5 font-weight-bold">Telephone</div>                     <div class="col-xl-6"><input type="text" asp-for="Telephone" required class="" /><span name="Telephone" class="text-danger h6 mb-0"></span></div>
                <div class="col-xl-3 ps-5 font-weight-bold">Relation</div>                     <div class="col-xl-6"><input type="text" asp-for="Relation" required class="" /><span name="Relation" class="text-danger h6 mb-0"></span></div>
                <div class="col-xl-3 ps-5 font-weight-bold">Currency</div>                     <div class="col-xl-6"><input type="text" asp-for="Currency" required class="" /><span name="Currency" class="text-danger h6 mb-0"></span></div>
                <div class="col-xl-3 ps-5 font-weight-bold">Address1</div>                     <div class="col-xl-6"><input type="text" asp-for="Address1" required class="" /><span name="Address1" class="text-danger h6 mb-0"></span></div>
                <div class="col-xl-3 ps-5 font-weight-bold">Address2</div>                     <div class="col-xl-6"><input type="text" asp-for="Address2" required class="" /><span name="Address2" class="text-danger h6 mb-0"></span></div>
                <div class="col-xl-3 ps-5 font-weight-bold">Town</div>                     <div class="col-xl-6"><input type="text" asp-for="Town" required class="" /><span name="Town" class="text-danger h6 mb-0"></span></div>
                <div class="col-xl-3 ps-5 font-weight-bold">County</div>                     <div class="col-xl-6"><input type="text" asp-for="County" required class="" /><span name="County" class="text-danger h6 mb-0"></span></div>
                <div class="col-xl-3 ps-5 font-weight-bold">Email</div>                     <div class="col-xl-6"><input type="email" asp-for="Email" required class="" /><span name="Email" class="text-danger h6 mb-0"></span></div>
                <div class="col-xl-3 ps-5 font-weight-bold">Is subscribe?</div>                     <div class="col-xl-6">
                    <input type="checkbox" name="Issubscribe" value="Subscribed"
                    @if (Model.Issubscribe == true)
                    {
                        @: checked
                    }
                           class="form-check-input" />
                </div>
            </div>
        </div>
        <div class="d-flex gap-2 justify-content-end mt-3">
            <button class="btn btn-info " type="button" id="addsubmit">Submit</button>
            @*<button class="btn btn-danger" type="button" onclick="hideThisDialog()">Close</button>*@
        </div>
    </form>
</div>
<script>
    $('.searchdiv').hide();
    $('#headerdiv').addClass('d-none').removeClass('d-flex')

</script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
<script src="~/js/form.js"></script>