@using DataAccess.DataViewModel;
@model List<ContactViewModel>

@foreach (var c in Model)
{
    <div class="d-flex justify-content-between">
        <div onclick="getdataofContact(@c.Id)">
            @c.Name
        </div>
        <div class="d-flex gap-2">
            <i class="fa-solid fa-pen editthisContact" style="display : none ;color : #920472!important" data-id="@c.Id" ></i>
            <i class="fa-solid fa-trash deletethisContact text-danger" style="display : none" data-id="@c.Id"></i>
        </div>
    </div>
}