<input type="hidden" value="@Model.customerId" id="thiscustomerId" />
<div id="editGroupdialog" class="w-75 position-absolute editGroupdialog p-0 rounded-3">
    <div class="border border-2 rounded-2">
        @if (Model.isEdit)
        {
            <div class="w-100 d-flex justify-content-between p-2 rounded-3" style="background: linear-gradient(to bottom, #4777ae, #48607b);">
                <div class="rounded">
                    <button class="rounded border-0 bg-white addGroupbtn" style="color:#48607b">
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </div>
                <div>
                    <button class="rounded border-0 bg-white" onclick="clearfilter()"><i class="fa-solid fa-broom"></i></button>
                    <button class="rounded border-0 bg-white" onclick="closeeditmodal()"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>
        }
        else
        {
            <div class="w-100 d-flex justify-content-end p-2 rounded-3" style="background: linear-gradient(to bottom, #4777ae, #48607b);">
                <div>
                    <button class="rounded border-0 bg-white" onclick="closeeditmodal()"><i class="fa-solid fa-xmark"></i></button>
                </div>
            </div>
        }
        <div class="p-3 bg-white">
            <div class="form-Group rounded">
                <input type="text" id="Groupsearch" class="w-100 p-2 form-control" /><span>search</span>
            </div>

            <div><span id="Groupnumberinfo"></span></div>

            <div class="my-2 p-2 w-100  d-flex justify-content-between" style="background-color : #e2e3e3">
                <div class="infoofmodal">Name</div>
                <div class="savecancel d-none">
                    <button class="rounded border-0 bg-white savesupplier"><i class="fa-regular fa-floppy-disk"></i></button>
                    <button class="rounded border-0 bg-white cancelsupplier"><i class="fa-solid fa-xmark "></i></button>
                </div>
            </div>
            <div class="Grouplist p-2">
            </div>
            <div class="Groupdetail d-none p-2" style="height : 300px !important; overflow-y : scroll;">
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="isEdit" value="@Model.isEdit" />
<script>
    var isEdit = "@Model.isEdit";
</script>
<script src="~/js/Groupmodel.js" asp-append-version="true"></script>
