@*


<div class="table-responsive" style="height: 70vh;"></div>
<hr style="height : 3px" class="text-muted" />
<div class="d-flex justify-content-around">
    <div>
        No. Of Records : <select id="pagesize">
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div>
        Go To Page: <select id="gotodrop"></select>
    </div>
    <div class="d-flex align-items-center">
        <div class="paginate_first text-info"><i class="bi bi-skip-backward-fill"></i></div>
        <div class="paginate_Previousbutton text-info"><i class="bi bi-chevron-left"></i></div>
        <div class="dataTables_paginate d-flex">
            <div class="paginate_button pagebtn_1" data-id="1">1</div>
            <div class="paginate_button pagebtn_2" data-id="2">2</div>
            <div class="paginate_button pagebtn_3" data-id="3">3</div>
            <div class="paginate_button pagebtn_4" data-id="4">4</div>
            <div class="paginate_button pagebtn_5" data-id="5">5</div>
            <div class="paginate_button pagebtn_6" data-id="6">6</div>
        </div>
        <div class="paginate_Nextbutton text-info"><i class="bi bi-chevron-right"></i></div>
        <div class="paginate_last text-info"><i class="bi bi-skip-forward-fill"></i></div>
        </div>
    </div>


    <script src="~/js/list.js" asp-append-version="true"></script>
*@